<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar Información</title>
  <link rel="stylesheet" href="../css/css_index.css">
</head>
<body>
  <div>
    <h3>EMPLOYEE OF THE MONTH</h3>
    <p id="most-valuable-employee-this-month">
        <!-- PRINT ANY EMPLOYEE HERE -->
    </p>
  </div>
  <div>
    <h1>Lista de Empleados</h1>
    <ul id="empleados-lista">
        <!-- HERE SHOULD PRINT ALL EMPLOYEES SORT BY ID -->
    </ul>
  </div> 
  <script src="../../backend/controller.js"></script>
</body>
</html>
